---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,700');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body
{
  font-family: "Raleway", sans-serif;
}

.page-header
{
  background-image: linear-gradient(#0B65AB, #00CE97);
}

.project-name
{
  font-family: "Ubuntu", sans-serif;
}

.project-tagline
{
  font-family: "Ubuntu", sans-serif;
  font-style: italic;
  font-weight: 300;
}
